/* background */
.bg {width: 100%;height: 100%;background: url('../img/background.jpg') no-repeat;position: fixed;z-index: -1;}
.black-bg {width: 100%;height: 100%;background-color: #35393e;position: fixed;z-index: -1;}
/* header */
.header {width: 100%;height: 56px;background-color: #fff;}
.header .header-main {width: 1278px;height: 56px;margin: 0 auto;}
.logo,
.news,
.exit {display: block;}
.logo {float: left;width: 170px;background: url('../img/icon.png') 14px 3px no-repeat;height: 56px; }
.news,
.exit {float: right;width: 90px;height: 24px;margin-top: 18px;line-height: 24px;font-size: 13px;color: 7074;}

.container {width: 1278px;height: 600px;margin: 0 auto;}
.main {width: 1036px;height: auto;margin-left: 242px;background-color: ;}
.tips {font-size: 14px;margin-left: 5px;}

/* silder */
.silder {float: left;margin-top: 30px;width: 200px;height: 448px;background-color: #fff;border-radius: 4px;overflow: hidden;}
.silder .silder-person {margin-bottom: 20px;width: 100%;height: 224px;background-color: #3c3a4a;text-align: center;}
.silder-person .name {display: block;margin-bottom: 8px;font-size: 17px;color: #fff;}
.silder-person .class {display: block;font-size: 12px;color: #fff;margin-bottom: 16px;}
.silder-person .real-name {margin-top: 15px;}
.silder-person .master,
.silder-person .real-name {display: block;position: relative;font-size: 12px;color: #716f7b;}
.silder-person .icon-im {position: absolute;top: -2px;right: 44px;width: 16px;height: 16px;background: url('../img/icon.png') -180px -305px no-repeat;}
.person-logo {width: 100px;height: 100px;margin: 24px auto 12px auto;border-radius: 50%;border: 3px solid #4b4a57;overflow: hidden;box-shadow: 0 0 50px #292833;}
.person-logo img {width: 94px;height: 94px;color: 3;}
.silder-list li {position: relative;height: 42px;width: 100%;padding-left: 56px;font-size: 16px;color: #9ea4a7;font-weight: 400;line-height: 42px;border-left: 3px solid #fff;cursor: pointer;}
.silder-list li.active {border-left: 3px solid #e7ba40;color: #3c3a4a;font-weight: 600;}
.silder-list li:hover {color: #e7ba40}
.silder-list i {position: absolute;width: 20px;height: 20px;top: 12px;left: 28px;}
.silder-list li.active .icon-plan {background: url('../img/icon.png') -54px -54px no-repeat;}
          .silder-list .icon-plan {background: url('../img/icon.png') -54px -83px no-repeat;}
.silder-list li.active .icon-mark {background: url('../img/icon.png') -80px -54px no-repeat;}
          .silder-list .icon-mark {background: url('../img/icon.png') -80px -84px no-repeat;}
.silder-list li.active .icon-school {background: url('../img/icon.png') -30px -110px no-repeat;}
          .silder-list .icon-school {background: url('../img/icon.png') -30px -135px no-repeat;}
.silder-list li.active .icon-college {background: url('../img/icon.png') -155px -110px no-repeat;}
          .silder-list .icon-college {background: url('../img/icon.png') -155px -135px no-repeat;}
.silder-list li.active .icon-camp {background: url('../img/icon.png') -132px -109px no-repeat;}
          .silder-list .icon-camp {background: url('../img/icon.png') -132px -135px no-repeat;}
.silder-list li.active .icon-outline {background: url('../img/icon.png') -179px -110px no-repeat;}
          .silder-list .icon-outline {background: url('../img/icon.png') -179px -135px no-repeat;}
.silder-list li.active .icon-class {background: url('../img/icon.png') -106px -110px no-repeat;}
          .silder-list .icon-class {background: url('../img/icon.png') -106px -135px no-repeat;}
.silder-list li.active .icon-myday {background: url('../img/icon.png') -55px -55px no-repeat;}
          .silder-list .icon-myday {background: url('../img/icon.png') -55px -83px no-repeat;}
.silder-list li.active .icon-correct {background: url('../img/icon.png') -5px -110px no-repeat;}
          .silder-list .icon-correct {background: url('../img/icon.png') -5px -135px no-repeat;}
.silder-list li.active .icon-allnews {background: url('../img/icon.png') -107px -54px no-repeat;}
          .silder-list .icon-allnews {background: url('../img/icon.png') -107px -83px no-repeat;}
.silder-list li.active .icon-help {background: url('../img/icon.png') -131px -54px no-repeat;}
          .silder-list .icon-help {background: url('../img/icon.png') -131px -83px no-repeat;}
.silder-list li.active .icon-openclass {background: url('../img/icon.png') -155px -54px no-repeat;}
          .silder-list .icon-openclass {background: url('../img/icon.png') -155px -83px no-repeat;}
.silder-list li.active .icon-othernews {background: url('../img/icon.png') -178px -54px no-repeat;}
          .silder-list .icon-othernews {background: url('../img/icon.png') -178px -83px no-repeat;}

.main .title-box {width: 100%;height: 49px;background: url('../img/line.png') -34px no-repeat;}
.main .title-word {font-size: 20px;font-weight: 600;text-align: center;line-height: 50px;}

/* bread-crumb */
.bread-crumb {width: 1036px;margin-left: 242px;height: 40px;line-height: 40px;padding-left: 5px;}

/* checkbox 样式 */
.checkbox {width: 15px;position: relative;}
.checkbox label {position: absolute;top: 0;left: 0;width: 15px;height: 15px;cursor: pointer;background: #eee;border:1px solid #ddd;}
.checkbox label:after {opacity: 0.2;content: '';position: absolute;width: 9px;height: 5px;top: 2px;left: 0px;background: transparent;border: 3px solid #333;border-top: none;border-right: none;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);}
.checkbox label:hover::after {opacity: 0.5;}
.checkbox input[type=checkbox]:checked + label:after {opacity: 1;}

/* delect样式 */
.delect,
.add     {position: relative;padding: 5px 10px 5px 24px;background-color: #f5f5f5;border: 1px solid #ddd;cursor: pointer;}
.delect .icon-delect {position: absolute;top: 4px;left: 5px;width: 16px;height: 16px;background: url('../img/icon.png') -30px -84px no-repeat;}
.add .icon-add {position: absolute;top: 4px;left: 5px;width: 16px;height: 16px;background: url('../img/icon.png') -5px -471px no-repeat;}

/* delete  student-table main */
.main .plan-table {margin-top: 20px;width: 1036px;height: auto;background-color: #fff;border-radius: 4px;}
.plan-table .plan-table-head {width: 100%;height: 58px;}
.plan-table .plan-table-head .today-btn {float: left;display: block;margin-left: 25px;width: 64px;height: 30px;margin-top: 12px;border: 1px solid #f0f0f2;text-align: center;line-height: 30px;border-radius: 4px;cursor: pointer;}
.plan-table .plan-table-head .today-btn:hover {background-color: #e7ba40;border: 1px solid #e7ba40;color: #fff;}
.plan-table .plan-table-head .month-select-box {float: left;display: block;width: 204px;height: 30px;margin-top: 12px;margin-left: 20px;background-color: #ccc;}
.plan-table .plan-table-head .plan-table-tips1,
.plan-table .plan-table-head .plan-table-tips2 {position: relative;display: block;margin-top: 18px;margin-right: 15px;float: right;width: 60px;height: 20px;text-align: center;line-height: 20px;}
.plan-table .plan-table-head .plan-table-tips1:before,
.plan-table .plan-table-head .plan-table-tips2:before {content: '';position: absolute;top: 2px;left: -2px;width: 0;height: 0;border-right: 16px solid transparent;}
.plan-table .plan-table-head .plan-table-tips1:before {border-top: 16px solid #28b28b;}
.plan-table .plan-table-head .plan-table-tips2:before {border-top: 16px solid #69cce0;}
.plan-table table.plan-table-box {width: 100%;height: 478px;border:solid #f1f1f1; border-width:1px 0px 0px 1px;text-align: center;border-spacing: 0;border-collapse: collapse;table-layout: fixed;}
.plan-table table.plan-table-box td {border:solid #f1f1f1; border-width:0px 1px 1px 0px; padding:0px;}
.plan-table table.plan-table-box thead td{height: 72px;background-color: #fdfdfd;line-height: 20px;}
.plan-table table.plan-table-box thead td.active {background-color: #faecc9;}
.plan-table table.plan-table-box tbody td.active {background-color: ;}
.plan-table-box tbody tr {vertical-align: top;}
.plan-table-box tbody li {position: relative;padding: 20px 20px;line-height: 20px;border-bottom: 1px solid #f1f1f1;cursor: pointer;}
.plan-table-box tbody li:hover {background-color: #f6f9ff;box-shadow: 0 5px 30px #e4ebf1;}
.plan-table-box tbody li.offline:before {content: '';position: absolute;top: 0;left: 0;width: 0;height: 0;border-right: 16px solid transparent;border-top: 16px solid #28b28b;}
.plan-table-box tbody li.online:before {content: '';position: absolute;top: 0;left: 0;width: 0;height: 0;border-right: 16px solid transparent;border-top: 16px solid #69cce0;}
.plan-table-box tbody li.task:before {content: '';position: absolute;top: 0;left: 0;width: 0;height: 0;border-right: 34px solid transparent;border-top: 30px solid #fc583d;}
.plan-table-box tbody li.task:after {content: '任';position: absolute;top: 0;left: 3px;color: #fff;font-size: 12px;}

/* div模拟周table */
.week-thead {width: 100%;height: 72px;border-top: 1px solid #f1f1f1;border-bottom: 1px solid #f1f1f1;background-color: #fdfdfd;}
.month-thead {width: 100%;height: 40px;border-top: 1px solid #f1f1f1;background-color: #fdfdfd;}
.week-thead .week-thead-item {float: left;width: 14.2857143%;height: 72px;text-align: center;line-height: 20px;padding-top: 18px;border-right: 1px solid #f1f1f1;}
.month-thead .month-thead-item {float: left;width: 14.2857143%;height: 40px;text-align: center;line-height: 20px;padding-top: 10px;border-right: 1px solid #f1f1f1;}
.week-tbody {width: 100%;min-height: 404px;}
.month-tbody {width: 100%;height: auto;}
.week-tbody-item {float: left;width: 14.2857143%;min-height: 404px;border-right: 1px solid #f1f1f1;}
.month-tbody-item {float: left;width: 14.2857143%;height: 284px;border-right: 1px solid #f1f1f1;}
.plan-table-more {display: inline-block;color: #e7ba40;margin-left: 10px;margin-top: 10px;}
.plan-table-add {display: inline-block;width: 16px;height: 16px;margin-left: 50px;background: url('../img/add.png') no-repeat;}

.week-tbody-item li,
.month-tbody-item li {position: relative;padding: 20px 20px;line-height: 20px;border-bottom: 1px solid #f1f1f1;cursor: pointer;}
.week-tbody-item li:hover,
.month-tbody-item li:hover {background-color: #f6f9ff;box-shadow: 0 5px 30px #e4ebf1;}
.week-tbody-item li.offline:before {content: '';position: absolute;top: 0;left: 0;width: 0;height: 0;border-right: 16px solid transparent;border-top: 16px solid #28b28b;}
.week-tbody-item li.online:before {content: '';position: absolute;top: 0;left: 0;width: 0;height: 0;border-right: 16px solid transparent;border-top: 16px solid #69cce0;}
.month-tbody-item li.task:before {content: '';position: absolute;top: 0;left: 0;width: 0;height: 0;border-right: 34px solid transparent;border-top: 30px solid #fc583d;}
.month-tbody-item li.task:after {content: '任';position: absolute;top: 0;left: 3px;color: #fff;font-size: 12px;}

.exam-box {width: 100%;margin-top: 15px;}
.exam-box .exam-box-select span {display: inline-block;margin-right: 10px;padding: 6px 25px;font-size: 16px;color: #687074;cursor: pointer;}
.exam-box .exam-box-select span.active {background-color: #ebebec;color: #000;border-radius: 20px;}
.exam-box .exam-box-list {width: 100%;margin-top: 35px;}
.exam-box .exam-box-list ul {margin-right: -19px;}
.exam-box .exam-box-list li {display: inline-block;margin-right: 19px;padding: 20px;width: 330px;height: 140px;background-color: #fff;cursor: pointer;}
.exam-box .exam-box-list li:hover {box-shadow: 0 5px 30px #e4ebf1;}
.exam-box-list .end-time {display: inline-block;margin-top: 10px;padding: 4px 8px;border-radius: 20px;font-size: 12px;color: #fff;}
.exam-box-list .end-time.now {background-color: #f36d38;}
.exam-box-list .end-time.unnow {background-color: #69cce0;}

/* master-table main */
.main .master-table-title {padding: 30px 25px;background-color: #fff;}
.master-table-title h2 {color: #3c3a4a;}
.master-table-select {width: 100%;height: 136px;background-color: #fff;border-bottom: 1px solid #f1f1f1;}
.master-table-select .select-box {width: 988px;height: 80px;margin: 0 auto;text-align: center;line-height: 80px;border-top: 1px solid #f1f1f1;}
.master-table-select .select-box span {display: inline-block;width: 110px;height: 60px;margin: 0 auto;font-size: 16px;cursor: pointer;}
.master-table-select .select-box span.active {border-bottom: 2px solid #e7ba40;color: #e7ba40;}
.table-change {position: relative;padding-left: 30px;}
.table-change i {position: absolute;width: 24px;height: 24px;cursor: pointer;}
.table-change .week {background: url('../img/icon.png') -54px -82px no-repeat;}
.table-change .week.active {background: url('../img/icon.png') -54px -54px no-repeat;}
.table-change .list {background: url('../img/icon.png') -80px -83px no-repeat;left: 70px;}
.table-change .list.active {background: url('../img/icon.png') -80px -54px no-repeat;}
.plan-table-month ,
.plan-table-week {display: block;float: right;width: 58px;height: 28px;margin-top: 14px;border: 1px solid #f1f1f1;text-align: center;line-height: 28px;cursor: pointer;border-radius: 4px;}
.plan-table-month {margin-right: 25px;margin-left: -1px;}
.plan-table-month.active ,
.plan-table-week.active {background-color: #e7ba40;color: #fff;}
.plan-table-box.month {height: auto !important;}
.plan-table-box.month tbody td li:first-child {height: 36px;line-height: 0;background-color: #fdfdfd;}
.month-tbody-item li:first-child {height: 36px;line-height: 0;background-color: #fdfdfd;text-align: center;border-top: 1px solid #f1f1f1;}
.month-tbody-item li:first-child:hover {box-shadow: 0 0 0 #fff;cursor: default;}
.plan-table-box.month tbody td {height: 284px;}
.plan-table-box.month tbody li:first-child:hover {box-shadow: 0 0 0 #fff;cursor: default;}


/* master-class-list main */
.master-list-select {margin-top: -1px;height: 45px;width: 100%;background-color: #fff;border-bottom: 1px solid #f1f1f1;}
.master-list-select span {display: block;float: left;background-color: #fafafa;width: 138px;height: 45px;text-align: center;line-height: 45px;font-size: 16px;border-bottom: 1px solid #f1f1f1;cursor: pointer;}
.master-list-select span:first-child {margin-left: 28px;}
.master-list-select span.active {background-color: #fff;border: 1px solid #f1f1f1;border-bottom: 1px solid #fff;}
.master-class-title {width: 100%;height: 64px;background-color: #fff;line-height: 64px;}
.master-class-title .title {margin-left: 28px;}
.master-class-title .time input {width: 230px;height: 30px;border: 1px solid #ccc;}
.master-class-title .select select {width: 150px;height: 30px;border: 1px solid #ccc;color: #ccc;outline-style: none;}
.master-class-title .search {float: right;margin-right: 58px;position: relative;}
.master-class-title .search input {width: 170px;height: 30px;text-indent: 10px;}
.icon-search {width: 30px;height: 30px;position: absolute;top: 17px;right: -29px;background-color: #fcfcfc;border: 1px solid #a9a9a9;cursor: pointer;background: url('../img/icon.png') -161px -257px no-repeat;}
.class-list-table {width: 100%;table-layout: fixed;text-align: center;background-color: #fff;border-spacing: 0;border-collapse: collapse;}
.class-list-table thead tr {height: 55px;background-color: #fafafa;border-bottom: 2px solid #e7ba40;}
.class-list-table tbody tr {height: 55px;border-bottom: 1px solid #f2f2f2;}
.class-list-table tbody tr:hover {background-color: #fafafa;}
.class-list-tips {display: inline-block;padding: 2px 8px;margin-left: 5px;}
.class-list-tips.green {background-color: green;color: #fff;}

/* teacher-table */
.teacher-class-box {width: 100%;margin-top: 35px;}
.class-box-list ul {margin-right: -19px;}
.class-box-list li {display: inline-block;position: relative;margin-right: 19px;padding: 20px;width: 330px;height: 186px;background-color: #fff;cursor: pointer;}
.class-box-list li:hover {box-shadow: 0 5px 30px #e4ebf1;}
.class-box-list .end-time {display: inline-block;margin-top: 10px;margin-bottom: 15px;padding: 4px 8px;border-radius: 20px;font-size: 12px;color: #fff;}
.class-box-list .end-time.now {background-color: #f36d38;}
.class-box-list .end-time.unnow {background-color: #69cce0;}
.class-box-list .class-teacher {position: absolute;bottom: 14px;right: 36px;color: #687074;}
.class-box-list .icon-im {position: absolute;top: -1px;right: -20px;width: 16px;height: 16px;background: url('../img/icon.png') -180px -305px no-repeat;}

/* student-news */
.news-title {width: 100%;height: 60px;padding: 18px 20px 0 20px;}
.news-title p {height: 34px;border-bottom: 1px solid #f0f0f2;}
.news-box {position: relative;width: 100%;padding: 25px 45px;padding-bottom: 80px;background-color: #fff;}
.news-box ul li {position: relative;height: 65px;padding-left: 30px;border-bottom: 1px solid #f0f0f2;line-height: 65px;cursor: pointer;}
.news-box ul li:before {content: '•';position: absolute;top: 0;left: 12px;color: #dbdbdb;}
.news-box ul li .news-time {position: absolute;right: 0;top: 0;width: 124px;padding-left: 20px;color: #dbdbdb;}
.news-box ul li:hover {background: url('../img/hover_bg.png') no-repeat;}
.news-time .icon-clock {width: 20px;height: 20px;position: absolute;top: 24px;left: 0;background: url('../img/icon.png') -4px -83px no-repeat;}
.load-more {position: absolute;bottom: 30px;left: 496px;color: #e7ba40;cursor: pointer;}
.load-more:hover {color: #ffba00;}

/* student-class-detail */
.container.video {background: url('../img/video_bg.jpg') no-repeat;}
.video-box {width: 100%;height: 528px;background: url('../img/video_bg.jpg') no-repeat;}
.video-content {width: 100%;height: 528px;padding: 45px 0;}
.video-content .video-pic {float: left;position: relative;width: 778px;height: 438px;cursor: pointer;}
.video-content .video-pic:hover {box-shadow: 0 0 10px #e4ebf1;}
.video-content .video-play {position: absolute;left: 40px;bottom: 30px;width: 58px;height: 58px;background: url('../img/icon.png') -12px -331px no-repeat;}
.video-content .video-text {width: 460px;height: 438px;margin-left: 818px;background-color: #323436;box-shadow: 0 0 5px #000;}
.video-text .video-text-header {width: 460px;height: 116px;padding: 28px 24px;color: #fff;}
.video-text-header h1 {font-size: 24px;}
.video-text-header .header-ect {height: 64px;border-bottom: 1px solid #46474a;line-height: 64px;}
.video-text-body {width: 100%;height: 234px;padding: 25px 27px;color: #9da3a6;line-height: 20px;}
.video-text-footer {width: 100%;height: 86px;padding-left: 32px;padding-right: 50px;padding-top: 10px;}
.video-text-footer .start {padding: 10px 42px;font-size: 16px;color: #fff;text-align: center;background-color: #e7ba40;border-radius: 4px;}
.video-text-footer .start:hover {background-color: #eccb73;}
.video-text-footer .evaluate {position: relative;margin-top: 10px;float: right;padding-left: 10px;color: #999;}
.video-text-footer .icon-pen {position: absolute;top: -8px;left: -22px;width: 25px;height: 25px;background: url('../img/icon.png') -87px -341px no-repeat;}
.class-material {float: left;width: 778px;height: 300px;margin-top: 42px;background-color: #fff;}
.class-material h2,
.class-homework h2,
.class-ps h2 {padding: 20px 28px;padding-bottom: 0;font-size: 16px;font-weight: 400;}
.class-material h2 span,
.class-homework h2 span,
.class-ps h2 span {display: block;height: 36px;border-bottom: 1px solid #f0f0f2;}
.class-material ul {margin-top: 10px;}
.class-material ul li {position: relative;height: 50px;line-height: 50px;padding-left: 74px;cursor: pointer;}
.class-material .icon {position: absolute;top: 10px;left: 28px;width: 30px;height: 30px;}
.class-material .icon-video {background: url('../img/icon.png') -168px -215px no-repeat;}
.class-material .icon-word {background: url('../img/icon.png') -128px -215px no-repeat;}
.class-material .icon-pdf {background: url('../img/icon.png') -87px -215px no-repeat;}
.class-material .process {float: right;margin-right: 30px;}
.class-material .process .process-bar {display: inline-block;position: relative;margin-right: 15px;width: 200px;height: 8px;border-radius: 10px;background-color: #ededed;overflow: hidden;}
.process-bar .process-bar-do {position: absolute;width: 80%;height: 8px;background-color: #e7ba40;}
.class-material ul li:hover {background-color: #fafafa;}
.class-homework {width: 464px;height: 128px;margin-top: 42px;margin-left: 818px;background-color: #fff;}
.class-homework ul li,
.class-ps ul li {position: relative;width: 100%;height: 70px;padding-left: 80px;line-height: 70px;cursor: pointer;}
.class-homework ul li:hover,
.class-ps ul li:hover {background-color: #fafafa;}
.class-homework .icon {position: absolute;width: 34px;height: 34px;top: 20px;left: 32px;}
.class-homework .icon-homework {background: url('../img/icon.png') -4px -168px no-repeat;}
.class-homework ul li a {float: right;width: 80px;height: 34px;margin-top: 18px;margin-right: 28px;line-height: 36px;text-align: center;color: #fff;background-color: #e7ba40;border-radius: 5px;}
.class-homework ul li a:hover {background-color: #eccb73;}
.class-ps {width: 464px;height: 128px;margin-top: 15px;margin-left: 818px;background-color: #fff;}

/* student-score */
.radar {margin-top: 15px;width: 100%;height: 488px;background-color: #fff;border-radius: 4px;}
.radar .radar-show {float: left;width: 584px;height: 100%;border-right: 2px dotted #e5e5e5;}
.radar .radar-text {position: relative;width: 452px;height: 100%;margin-left: 584px;background-color: #fafafa;}
.radar-text .score-title {position: absolute;top: 66px;left: 42px;font-size: 16px;font-weight: 600;}
.radar-text .score {position: absolute;top: 50px;left: 110px;font-size: 46px;font-weight: 600;}
.radar-text .rank-title {position: absolute;top: 115px;left: 42px;font-size: 15px;}
.radar-text .makeup {position: absolute;top: 145px;left: 42px;font-size: 15px;color: #cfd1d3;}
.radar-text .rank-list {position: absolute;width: 100%;top: 280px;left: 0;}
.rank-list ul li {float: left;height: 40px;width: 50%;line-height: 40px;padding: 0 50px;}
.rank-list .title {text-align: right;}
.rank-list .rank-score {margin-left: 28px;}
.score-box {width: 100%;margin-top: 15px;}
.score-box .score-box-select span {display: inline-block;margin-right: 10px;padding: 6px 25px;font-size: 16px;color: #687074;cursor: pointer;}
.score-box .score-box-select span.active {background-color: #ebebec;color: #000;border-radius: 20px;}
.score-table {padding: 25px;margin-top: 15px;background-color: #fff;}

/* master-outline-list && master-class-manage */
.outline-list-box {width: 100%;margin-top: 15px;}
  .class-list-box {width: 100%;}
  .class-list-box {background-color: #fff;padding: 30px 40px;}
.outline-list-box ul,
  .class-list-box ul {margin-right: -30px;}
.outline-list-box ul li {float: left;position: relative;margin-right: 30px;margin-bottom: 30px;width: 325px;height: 250px;background-color: #fff;box-shadow: 0 0 10px #e4ebf1;border-radius: 4px;cursor: pointer;}
  .class-list-box ul li {float: left;position: relative;margin-right: 28px;margin-bottom: 30px;width: 300px;height: 228px;background-color: #fff;box-shadow: 0 0 10px #e4ebf1;border-radius: 4px;cursor: pointer;overflow: hidden;}
.outline-list-box ul li:hover,
  .class-list-box ul li:hover {box-shadow: 0 0 10px #dbdbdb;}
.outline-list-box .icon-add {width: 45px;height: 45px;margin: 105px auto;background: url('../img/icon.png') -140px -340px no-repeat;}
  .class-list-box .icon-add {width: 45px;height: 45px;margin: 90px auto;background: url('../img/icon.png') -140px -340px no-repeat;}
.outline-list-box ul p {padding-left: 30px;font-size: 16px;line-height: 68px;}
  .class-list-box ul p {padding-left: 30px;font-size: 16px;line-height: 44px;}

.outline-item-text {position: absolute;top: 133px;left: 0;display: block;width: 100%;height: 50px;color: #fff;background-color: rgba(0, 0, 0, .55);}
.outline-item-text span {display: inline-block;width: 45%;padding-left: 34px;line-height: 26px;}

/* yuan-outline-list */
.master-table-select .select-box2 {padding: 0 20px;margin-top: 15px;width: 100%;height: 40px;}
.master-table-select .select-box2 .checkbox label {top: -13px;}
.class-list-checkbox.checkbox {top: -8px;left: 18px;}

/* master-class-manage */
.master-class-title .build-btn {float: right;margin-top: 16px;margin-right: 40px;width: 96px;height: 34px;color: #fff;text-align: center;background-color: #e7ba40;line-height: 34px;border-radius: 4px;cursor: pointer;}
.master-class-title .build-btn:hover {background-color: #eccb73;}
.class-edit {width: 100%;height: 40px;position: absolute;left: 0;bottom: -40px;background-color: rgba(0, 0, 0, 0);transition: all .3s cubic-bezier(.55,0,.1,1);}
.class-edit span {position: relative;width: 48%;height: 40px;display: inline-block;}
.class-list-box ul li:hover .class-edit{bottom: 45px;background-color: rgba(0, 0, 0, .65);}
.class-edit .icon-pen {position: absolute;top: 10px;left: 60px;width: 20px;height: 20px;background: url('../img/icon.png') -4px -402px no-repeat;}
.class-edit .icon-del {position: absolute;top: 10px;left: 60px;width: 20px;height: 20px;background: url('../img/icon.png') -31px -403px no-repeat;}

/* yuan-class-build */
.class-build-box {padding: 40px 45px;width: 100%;height: 1600px;font-size: 16px;color: #333;background-color: #fff;}
.class-build-box input,
.class-build-box .attr-box {border: 1px solid #ddd;font-size: 18px;text-indent: 10px;vertical-align: middle;}
.class-build-box .attr-box {display: inline-block;width: 300px;height: 70px;}
.class-build-box .inputGroup1 {display: block;height: 40px;margin-bottom: 30px;}
.class-build-box .inputGroup1 input {width: 218px;height: 34px;}
.attr-label {display: inline-block;margin-left: 50px;width: 470px;height: 70px;vertical-align: middle;font-size: 14px;}
.attr-label ul li {display: inline-block;width: 220px;margin-bottom: 10px;}
.attr-label .attrNum {display: inline-block;margin-left: 10px;}
.attrNum .minus,
.attrNum .plus {display: inline-block;width: 30px;height: 30px;text-align: center;border: 1px solid #ddd;line-height: 26px;}
.attrNum input {width: 50px;height: 30px;font-size: 14px;}
.class-build-box .build-tips {font-size: 12px;line-height: 26px;margin-left: 115px;color: #aaa;}
.imgUpload,
.fileUpload {position: relative;margin-left: 2px;display: inline-block;vertical-align: middle;zoom: 1;cursor: pointer;}
.imgUploadBtn,
.fileUploadBtn {width: 100px;height: 30px;line-height: 30px;background-color: #f5f5f5;border: 1px solid #ddd;text-align: center;cursor: pointer;}
.newfile,
.newfile2 {width: 100px;height: 40px;position: absolute;top: 0;left: 0;opacity:0;}
.img-box {margin-left: 86px;width: 300px;height: 170px;border: 1px solid #ddd;}
.class-textarea {margin-left: 6px;border: 1px solid #ddd;vertical-align: middle;font-size: 15px;padding: 10px;}
.fileList {margin-left: 86px;width: 330px;font-size: 14px;}
.fileItem {padding-left: 30px;margin-bottom: 10px;width: 100%;height: 40px;border: 1px solid #ddd;line-height: 40px;}
.removeItem {float: right;margin-right: 20px;cursor: pointer;}
.class-build-btn {display: block;margin: 200px auto 0 auto;width: 100px;height: 35px;border-radius: 4px;background-color: #e7ba40;color: #fff;border: none;cursor: pointer;}
.class-build-btn:hover {background-color: #eccb73;}

/* yuan-manage */
.set-form {width: 100%;padding-left: 24px;padding-right: 24px;margin: 0 auto;height: 370px;border-top: 1px solid #f1f1f1;background-color: #fff;font-size: 15px;}
.icon-edit {position: absolute;top: -2px;right: -25px;width: 20px;height: 20px;background: url('../img/icon.png') -102px -405px no-repeat;cursor: pointer;}
.attr-style-box {display: inline-block;width: 800px;vertical-align: top;}
.attr-style {float: left;padding: 10px 15px;margin-right: 20px;margin-bottom: 15px;width: 226px;height: 92px;border: 1px solid #999;line-height: 17px;}

/* yuan-camp-select */
.yuan-select {position: absolute;padding-left: 35px;width: 1036px;height: 50px;line-height: 50px;}
.yuan-select span {margin-right: 10px;padding: 8px 20px;border: 1px solid #EEEBEB;border-radius: 4px;cursor: pointer;}
.yuan-select span:hover {box-shadow: 0 0 10px #e4ebf1;}
.yuan-select span.active {background-color: #e7ba40;border-color: #e7ba40;color: #fff;}
.camp-select {width: 452px;height: 50px;position: relative;margin: 80px auto 30px auto;}
.camp-selector {display: inline-block;width: 148px;height: 50px;line-height: 50px;font-size: 18px;text-align: center;cursor: pointer;}
.camp-selector.active {border-bottom: 3px solid #e7ba40;color: #e7ba40;}
.none {width: 100%;height: 330px;text-align: center;color: #bfbfbf;}
.none img {margin: 10px auto;display: block;margin-top: 70px;margin-bottom: 25px;}
.camp-list-box {width: 100%;height: auto;padding: 30px 40px;}
.camp-list-box ul {margin-right: -30px;}
.camp-list-box ul li {float: left;position: relative;margin-right: 28px;margin-bottom: 30px;width: 300px;height: 228px;text-align: center;background-color: #fff;box-shadow: 0 0 10px #e4ebf1;border-radius: 4px;cursor: pointer;overflow: hidden;}
.camp-list-box li p {font-size: 16px;line-height: 44px;}
.camp-list-box li .icon-add {width: 45px;height: 45px;margin: 90px auto;background: url(../img/icon.png) -140px -340px no-repeat;}
.camp-build-box {width: 100%;height: auto;padding: 10px 80px;margin-top: -20px;background-color: #fff;}
.camp-build-box p {margin-bottom: 20px;line-height: 30px;}
.camp-build-box input {margin-left: 20px;width: 218px;height: 30px;font-size: 14px;border: 1px solid #ddd;text-indent: 10px;vertical-align: middle;}
.camp-build-box textarea {margin-left: 20px;border: 1px solid #ddd;vertical-align: middle;}
 .camp-build-box .textarea-text {width: 500px;height: 85px;word-break: break-all;vertical-align: top;overflow-y: auto}
.camp-build-btn {display: block;margin: 55px auto 0 auto;width: 100px;height: 35px;border-radius: 4px;background-color: #e7ba40;color: #fff;border: none;cursor: pointer;}
.textarea-text {width: 500px;display: inline-block;vertical-align: middle;text-indent: 28px;}
.camp-build-box .camp-build-select {height: 30px;border: 1px solid #ddd;}
.camp-build-box .camp-name {margin-left: 16px;width: 110px;}
.camp-build-box .camp-type {margin-left: 10px;}
.camp-build-box .camp-outline {margin-left: 15px;width: 150px;}
.camp-build-tips {display: block;margin-left: 100px;color: #ccc;font-size: 12px;}
.master-table-select .boss {position: relative;width: 100px;height: 20px;margin: 10px auto;line-height: 20px;text-align: left;cursor: pointer;}
.master-table-select .boss .icon-im {position: absolute;top: 2px;right: -14px;width: 16px;height: 16px;background: url('../img/icon.png') -180px -305px no-repeat;}

/* video */
.main-left {position: absolute;top: 0;left: 0;right: 320px;bottom: 0;zoom: 1;}
.video-play,
.pdf-play {position: absolute;top: 95px;left: 20px;bottom: 40px;right:20px;z-index: 99;background-color: #333;box-shadow: 0 1px 5px #303035;}
.video-body,
.pdf-body {min-width: 960px;position: relative;height: auto;min-height: 100%;width: 100%;}
.video-line,
.pdf-line {height: 100%;width: 4px;border-right: 1px solid #76767a;background-color: #565656;left: 139px;position: absolute;top: 0;z-index: 98;}
.video-back,
.pdf-back {position: absolute;top: 13px;left: 0;display: block;width: 106px;height: 30px;font-size: 12px;line-height: 30px;color: #484848;text-indent: 22px;z-index: 99;background-color: #ccc;box-shadow: 0 1px 5px #303035;}
.video-title,
.pdf-title {position: absolute;top: 54px;left: 128px;line-height: 25px;z-index: 100;}
.video-title-icon,
.pdf-title-icon {width: 25px;height: 25px;margin-right: 20px;top: 0;left: 0;background-color: #e7ba40;position: absolute;border-radius: 50%;border: 2px solid #000;}
.video-title-text,
.pdf-title-text {margin-left: 35px;color: #9da3a6;font-weight: 600;font-size: 16px;}
.main-right {box-shadow: 0px 1px 8px #333;position: absolute;top: 0;bottom: 0;right: 0;width: 320px;overflow: hidden;background-color: #fcfdff;}
.main-right-header {width: 100%;padding: 25px 20px;}
.main-right-header .main-right-title {font-size: 16px;}
.rank-start {display: inline-block;width: 100px;height: 20px;background-color: #eee;}
.main-right-con {width: 100%;}
.main-right-con .con-title {font-size: 16px;padding: 10px 20px;border-bottom: 1px solid #EEEBEB;}
.main-right-con .video-con-list li {height: 50px;position: relative;padding-left: 56px;line-height: 50px;cursor: pointer;}
.main-right-con .video-con-list li:hover {background-color: #e7dab6;}
.main-right-con .video-con-list .icon {position: absolute;top: 12px;left: 22px;width: 25px;height: 25px;}
.main-right-con .video-con-list .icon-video {background: url('../img/icon.png') -125px -258px no-repeat;}
.main-right-con .video-con-list .icon-word {background: url('../img/icon.png') -95px -258px no-repeat;}
.main-right-con .video-con-list .icon-pdf {background: url('../img/icon.png') -65px -258px no-repeat;}
.pdf-top {position: relative;padding:0 50px;width: 100%;height: 60px;background-color: #1e242c;color: #fff;font-size: 20px;line-height: 60px;}
.pdf-top .icon-close {position: absolute;top: 10px;right: 10px;width: 36px;height: 36px;background: url(../img/icon.png) no-repeat -144px -397px;}
.main-right-header .pointing {height: 44px;line-height: 44px;}
.main-right-header .pointing input {width: 50px;height: 30px;margin-left: 20px;margin-right: 10px;text-indent: 10px;}
.main-right-con .con-textarea {margin-top: 10px;margin-left: 10px;width: 300px;height: 100px;border: 1px solid #ccc;padding: 10px;}
.main-right-con .con-btn {margin-top: 10px;margin-right: 10px;float: right;padding: 5px 20px;color: #fff;background-color: #e7ba40;border: 1px solid #e7ba40;cursor: pointer;border-radius: 4px;}
.main-right-header .pointing span {margin-left: 10px;margin-right: 10px;display: inline-block;width: 35px;font-size: 20px;color: #e7ba40;vertical-align: middle;text-align: center;}
.main .nav-con {margin-top: 30px;padding: 20px 24px;width: 100%;height: 370px;background-color: #fff;}
.main .nav-con img {float: left;}
.main .nav-text {display: inline-block;margin-left: 34px;width: 478px;height: 330px;}
.main .nav-text .nav-text-header {width: 100%;height: 150px;padding: 10px 24px;}
.main .nav-text .nav-text-header h1 {font-size: 24px;}
.nav-text .header-ect {height: 80px;color: #ccc;padding-left: 2px;}
.nav-text .header-ect span {display: inline-block;height: 30px;margin-right: 20px;line-height: 30px;}
.nav-text .nav-body {width: 100%;height: 155px;padding: 25px 2px;line-height: 20px;}
.rank-con {margin-top: 42px;width: 100%;height: 300px;background-color: #fff;}
.teacher-box {width: 100%;height: 100px;padding: 15px 22px;}
.teacher-box .teacher-pic {width: 60px;height: 60px;display: inline-block;border-radius: 50%;overflow: hidden;vertical-align: middle;}
.teacher-box .teacher-name {display: inline-block;margin-left: 10px;margin-right: 30px;}
.teacher-box .correct-time {display: inline-block;font-size: 12px;color: #abb1b3;}
.correct-word {position: relative;width: 85%;padding: 15px;border: 1px solid #eceaea; margin: 0 auto;line-height: 20px;border-radius: 4px;}
.correct-word:before {content: '';position: absolute;top: -9px;left: 20px;width: 15px;height: 15px;background-color: #fff;border-left: 1px solid #eceaea;border-top: 1px solid #eceaea;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);}
