@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*reset*/

html {
    font-size: 14px;
}

body,
ul,
li,
a,
img,
p {
    padding: 0;
    margin: 0;
    background: none;
}

ul {
    list-style: none;
}

body {
    background-color: #f5faff;
    font: 14px/1 ".SFUIText-Regular","Helvetica Neue",Helvetica,"Hiragino Sans GB",STHeitiSC-Light,"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,Arial,sans-serif
}

input,
button,
textarea,
a {
    outline: none;
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

textarea {
    resize: none;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
    color: #aaa;
    font: 14px/auto "Arial", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53";
}


/*public*/


/*功能代码*/
.relative {
    position: relative;
}

.g-p0_10 {
    padding: 0 10px;
}

.g-p0_15 {
    padding: 0 15px;
}

.g-p0_20 {
    padding: 0 20px;
}

.g-p20 {
    padding: 20px;
}

.g-p20_20 {
    padding: 20px 20px;
}

.g-mt10 {
    margin-top: 10px;
}

.g-mr10 {
    margin-right: 10px;
}

.g-mb10 {
    margin-bottom: 10px;
}

.g-ml10 {
    margin-left: 10px;
}

.g-mt15 {
    margin-top: 15px;
}

.g-mt5 {
    margin-top: 5px;
}

.g-mt_7 {
    margin-top: -7px;
}
.g-mr15 {
    margin-right: 15px;
}

.g-mb15 {
    margin-bottom: 15px;
}

.g-ml15 {
    margin-left: 15px;
}

.g-mt20 {
    margin-top: 20px;
}

.g-ml20 {
    margin-left: 20px;
}

.g-mr20 {
    margin-right: 20px;
}

.g-mb20 {
    margin-bottom: 20px;
}

.g-mt30 {
    margin-top: 30px;
}

.g-pl20 {
    padding-left: 20px;
}

.g-pb0 {
    padding-bottom: 0;
}

.g-pt10 {
    padding-top: 10px;
}

.g-pr10 {
    padding-right: 10px;
}

.g-pb10 {
    padding-bottom: 10px;
}

.g-pl10 {
    padding-left: 10px;
}

.g-pt15 {
    padding-top: 15px;
}

.g-pr15 {
    padding-right: 15px;
}

.g-pb15 {
    padding-bottom: 15px;
}

.g-pl15 {
    padding-left: 15px;
}

.g-pt20 {
    padding-top: 20px;
}

.g-pr20 {
    padding-right: 20px;
}

.g-pb20 {
    padding-bottom: 20px;
}

.g-pl20 {
    padding-left: 20px;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.t-tc {
    text-align: center;
}

.t-tr {
    text-align: right;
}

.t-tl {
    text-align: left;
}

.v-m {
    vertical-align: middle;
}

.lh15 {
    line-height: 1.5;
}

.lh2 {
    line-height: 2;
}

.lh3 {
    line-height: 3;
}

.f-z20 {
    font-size: 2px;
}

.f-z18 {
    font-size: 18px;
}

.f-z16 {
    font-size: 16px;
}

.f-z14 {
    font-size: 14px;
}

.f-z12 {
    font-size: 12px;
}

.w-1000 {
    width: 1000px;
}

.color000 {
    color: #000;
}

.color666 {
    color: #666;
}

.color999 {
    color: #999;
}

.colorff0 {
    color: #ff0000
}

.i-d {
    display: inline-block;
}

.pos-r {
    position: relative;
}

.bt {
    border-top: 1px solid #dbdbdb;
}

.bm {
    border-bottom: 1px solid #dbdbdb;
}

.bm0 {
    border-bottom: 0
}

.clear {
    clear: both
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.bgfff {
    background-color: #fff
}

.C909 {
  color: #909699;
}

.border-dbdb {
    border: 1px solid #EEEBEB;
    box-shadow: 0 0 5px #e4ebf1;
    border-radius: 2px;
     -webkit-transition: all .3s cubic-bezier(.55, 0, .1, 1);
     -ms-transition: all .3s cubic-bezier(.55, 0, .1, 1);
     -moz-transition: all .3s cubic-bezier(.55, 0, .1, 1);
    transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.border-dbdb:hover {
    box-shadow: 0 5px 50px #DFE0E1;
}

.bbdd {box-shadow: 0 0 10px #e4ebf1;}

/*# sourceMappingURL=public.css.map */
